%h2 Descripción: #{@task.description}
%h3 Fecha de entrega: #{I18n.l(@task.deadline, format: :full)}

= form_for(@task, url: post_task_path(id: @task.id, post_id: @task.post.id), method: :put) do |f|
  = f.select_with_label :status, [['Planeada', 0], ['En progreso', 1], ['Completada', 2]], required: true
  - if @task.visual?
    = f.field_with_label :visual, type: :file_field
  - else
    = f.field_with_label :content, promt: true, required: true

  = f.submit 'Guardar', class: 'button is-primary'

