.columns
  .column.is-four-fifths
    %h3 Tarea #{@task.id}
    %h4 Campaña #{@task.post.node.network.campaign.name}
  .column
    %p{class: "status status-#{@task.status}"} #{I18n.t("task.status.#{@task.status}")}


.columns
  .b-1px-gray.p-10px.column.is-two-fifths
    %h6.m-0 Descripción
    %p #{@task.description}
  .column
    %p
      %b Fecha de entrega:
      #{I18n.l(@task.deadline, format: :full)}
    %p Tipo de tarea: #{I18n.t("task.category.#{@task.category}")}
    = link_to 'Trabajar en tarea', edit_my_task_path(@task), class: 'button is-primary'

.columns
  .column
    = render 'comments/index', comments: @task.comments, task: @task
