%nav.navbar{"aria-label" => "main navigation", :role => "navigation"}
  .navbar-brand
    %a.navbar-item{:href => "/"}
      = image_tag  "logo.png", height: 50, width: 50
    %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbarBasicExample", :role => "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #navbarBasicExample.navbar-menu
    .navbar-end
      - unless controller_path.include?('landing')
        .navbar-item
          = link_to 'Inicio', root_path
      - Administrate::Namespace.new(namespace).resources.each do |resource|
        .navbar-item
          = link_to(                                                                  |
              display_resource_name(resource),                                        |
              [namespace, resource_index_route_key(resource)],                        |
              class: "navigation__link navigation__link--#{nav_link_state(resource)}" |
            )                                                                         |
      .navbar-item
        .buttons
          = link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'button is-light'
