%nav.navbar.navbar-expand-lg.navbar-light.bg-light{"aria-label" => "main navigation", :role => "navigation"}
  %a.navbar-brand{:href => "/"}
    = image_tag  "logo.png", height: 50, width: 50

  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon

  #navbarSupportedContentcollapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      - unless controller_path.include?('landing')
        %li.nav-item.active
          = link_to 'Inicio', root_path, class: 'nav-item'
      - Administrate::Namespace.new(namespace).resources.each do |resource|
        %li.nav-item
          = link_to(                                                                           |
              display_resource_name(resource),                                                 |
              [namespace, resource_index_route_key(resource)],                                 |
              class: "navigation__link navigation__link--#{nav_link_state(resource)} nav-link" |
            )                                                                                  |
      %li.nav-item
        = link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'btn btn-primary'
