%h3 #{@corporation.name}

.columns
  .column.is-half
    .card
      .card-content
        %h5.m-0 Representante legal
        %h6 #{@corporation.legal_representant_name}
        %p
          %b Correo:
          #{@corporation.legal_representant_email}
        %p
          %b Teléfono:
          #{@corporation.legal_representant_phone}
        %p
          %b Rol:
          #{@corporation.legal_representant_role}

%h4 Compañías registradas
.columns.is-multiline
  = render partial: 'companies/company_card', collection: @corporation.companies, as: :company
