= simple_form_for(Comment.new) do |f|
  = f.input :content, label: 'Comentario:', required: true
  = f.input :user_id, input_html: { value: current_user.id }, as: :hidden
  = f.input :task_id, input_html: { value: task.id }, as: :hidden
  = f.button :submit, 'Guardar'
