= form_for(Comment.new) do |f|
  = f.field_with_label :content, required: true
  = f.hidden_field :user_id, value: current_user.id
  = f.hidden_field :task_id, value: task.id
  = f.submit 'Guardar', class: 'button is-primary'
