.column.is-one-third
  .card
    .card-content
      %h5 Número del nodo: #{node.id}
      %p Título: #{node.label}
      %h6 Registrado el: #{node.created_at}
    .card-footer.justify-content-end.p-10px
      = link_to 'Eliminar', network_node_path(id: node.id, network_id: node.network_id), class: 'button is-danger', method: :delete
      = link_to 'Editar', edit_network_node_path(id: node.id, network_id: node.network_id), class: 'button is-info ml-5px'
