= simple_form_for(@task, url: post_tasks_path(@post)) do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |message|
          %li= message

  = f.input :description, label: 'Descripción', required: true
  = f.input :deadline, as: :datetime, start_year: Date.today.year - 90, end_year: Date.today.year + 1, order: [:month, :year], label: 'Fecha límite de entrega', required: true

  = f.input :user_id, collection: @coworkers.all.map{ |c| [c.name, c.id] }, label: 'Encargado', include_blank: false, required: true

  = f.input :post_id, value: @post.id, as: :hidden, required: true

  .actions
    = f.submit 'Guardar'
