= f.field_with_label :title, required: true
= f.field_with_label :description, required: true
= f.datetime_field_with_label :deadline, required: true
= f.select_with_label :category, [['Contenido', 0], ['Visual', 1]], prompt: true, required: true
= f.select_with_label :user_id, @campaign.coworkers.content_generator.map { |cw| [cw.name, cw.user_id] }, prompt: true, required: true
= f.hidden_field :post_id, value: @post.id, required: true

%input{type:'hidden', value: @campaign.id, id: 'campaign_id'}

= f.submit 'Guardar', class: 'button is-primary'
