%h5 Tarea: #{@task.id}
%h6.mb-0 Descripción:
%p #{@task.description}
%h6.mb-0 Fecha de entrega:
%p #{@task.deadline}
%h6.mb-0 Pertenece a:
%p #{@task.coworker.name}

= link_to 'Editar', edit_post_task_path(post_id: @task.post, id: @task), class: 'button mt-30px'

- if @task.completed?
  = link_to 'Aprobar tarea', approve_task_path(@task.id), class: 'btn btn-success', method: :put

- if @task.approved?
  = link_to 'Migrar tarea a publicación', migrate_task_path(@task.id), class: 'btn btn-success', method: :put

= render 'comments/index', comments: @task.comments, task: @task
