%h5 Tarea: #{@task.id}
%h6.mb-0 Descripción:
%p #{@task.description}
%h6.mb-0 Fecha de entrega:
%p #{@task.deadline}
%h6.mb-0 Pertenece a:
%p #{@task.user.name}

= link_to 'Editar', edit_post_task_path(post_id: @task.post, id: @task), class: 'button mt-30px'
