= form_for(@user) do |f|
  = f.field_with_label :name, placeholder: 'José Pérez', required: true
  = f.field_with_label :email, placeholder: 'usuario@gmail.com', required: true
  = f.select_with_label :roles_mask, @users.map{ |role| [t("user.roles.#{role.to_s}"), role.to_s] }, { class: 'h-100 remove-select-pin-down' }, { multiple: true }
  - if current_user.owner?
    = f.select_with_label :company, Company.all.map{ |company| [company.name, company.id] }

  = f.submit 'Guardar', class: 'button is-primary'
