- if current_user != user
  .column.is-one-third
    .card
      .card-content
        %h5 #{user.name}
        %h6.m-0 Rol: #{t(".role_#{user.roles_mask}")}
        %p Registrado el: #{user.created_at}
        %p #{user.email}
      .card-footer.justify-content-end.p-10px
        = link_to 'Editar', edit_user_path(user), class: 'button is-info'
        = link_to 'Ver', user_path(user), class: 'button is-light ml-5px'
