= link_to '< Volver a campa침a', campaign_path(@campaign)

.columns.mt-30px
  .column
    = link_to 'A침adir nodo', new_network_node_path(@campaign.network.id), class: 'button mb-10px w-100'
    = link_to 'A침adir relaci칩n', new_network_edge_path(@campaign.network.id), class: 'button mb-10px w-100'
    = link_to 'Editar nodos', network_nodes_path(@campaign.network.id), class: 'button mb-10px w-100'
    = link_to 'Editar relaciones', network_edges_path(@campaign.network.id), class: 'button mb-10px w-100'

  #network-container.b-1px-gray.column.is-four-fifths

%input{type:'hidden', value: @nodes, id: 'nodes'}
%input{type:'hidden', value: @edges, id: 'edges'}
