.row
  = link_to 'Volver a campa침a', campaign_path(@campaign), class: 'btn btn-primary'

.row
  = link_to 'A침adir nodo', new_campaign_network_node_path(campaign_id: @campaign.id, network_id: @campaign.network.id), class: 'btn btn-primary col'
  = link_to 'A침adir relaci칩n', new_campaign_network_edge_path(campaign_id: @campaign.id, network_id: @campaign.network.id), class: 'btn btn-secondary col'
  = link_to 'Editar nodos', campaign_network_nodes_path(campaign_id: @campaign.id, network_id: @campaign.network.id), class: 'btn btn-primary col'
  = link_to 'Editar relaciones', campaign_network_edges_path(campaign_id: @campaign.id, network_id: @campaign.network.id), class: 'btn btn-secondary col'

#network-container

%input{type:'hidden', value: @nodes, id: 'nodes'}
%input{type:'hidden', value: @edges, id: 'edges'}
