.column.is-full
  .card
    .card-content
      %h5 #{company.name}
      %p #{company.bussines_name}
      %h6 Representante legal: #{company.legal_representant_name}
      %p #{company.legal_representant_email}
    .card-footer.justify-content-end.p-10px
      = link_to 'Editar', edit_company_path(company), class: 'button is-info'
      = link_to 'Ver', company_path(company), class: 'button is-light ml-5px'
