.column.is-full
  .card
    .card-content
      %h5 #{corporation.name}
      %h6 Representante legal: #{corporation.legal_representant_name}
      %p #{corporation.legal_representant_email}
      %p #{corporation.legal_representant_role}
    .card-footer.justify-content-end.p-10px
      = link_to 'Editar', edit_corporation_path(corporation), class: 'button is-info'
      = link_to 'Ver', corporation_path(corporation), class: 'button is-light ml-5px'
