= simple_form_for(@company, url: finance_companies_path) do |f|
  = f.input :name, placeholder: 'Monsters Inc.', label: 'Nombre de la compañía', required: true, minlength: 5, maxlength: 20
  = f.input :legal_representant_name, placeholder: 'Eduardo Larios', label: 'Nombre del representante legal', required: true, minlength: 10, maxlength: 40
  = f.input :legal_representant_email, placeholder: 'eduardo.la@gmail.com', label: 'Correo electrónico del representante legal', required: true, minlength: 10, maxlength: 40
  = f.input :legal_representant_phone, placeholder: '312 32 038 77', label: 'Número telefónico del representante legal', required: true
  = f.input :legal_representant_role, placeholder: 'Abogado', label: 'Rol del representante legal', required: true, minlength: 3, maxlength: 20
  = f.input :bussines_name, placeholder: 'Monsters Incorporations SA de CV', label: 'Nombre legal', required: true, minlength: 10, maxlength: 40
  = f.input :rfc, placeholder: 'MIC23SD323SDF', label: 'RFC', required: true, minlength: 12, maxlength: 17
  = f.input :location, placeholder: 'Av. V. Carranza 1248', label: 'RFC', required: true, minlength: 20, maxlength: 40
  = f.input :corporation_id, collection: Corporation.all.map{ |c| [c.name, c.id] }, label: 'Corporación'
  = f.button :submit, 'Guardar'
