.column.is-two-fifths
  .card
    .card-content
      %h5 #{company.name}
      %p #{company.bussines_name}
      %h6 Representante legal: #{company.legal_representant_name}
      %p.text-bold #{company.legal_representant_phone}
    .card-footer.justify-content-end.p-10px
      = link_to 'Ver', company_path(company), class: 'button is-primary'
