%h3 #{@company.name}

.columns
  .column.is-half
    - if @company.corporation.present?
      %h4 Pertenece a corporativo: #{@company.corporation.name}
    %p
      %b RFC:
      #{@company.rfc}
    %p
      %b Nombre legal:
      #{@company.bussines_name}
    %p
      %b Dirección:
      #{@company.location}

  .column.is-half
    .card
      .card-content
        %h5.m-0 Representante legal
        %h6 #{@company.legal_representant_name}
        %p Correo: #{@company.legal_representant_email}
        %p Teléfono: #{@company.legal_representant_phone}
        %p Rol: #{@company.legal_representant_role}
