.column.is-one-third
  .card
    .card-content
      %h5 Identificador: #{edge.id}
      %p De nodo: #{edge.from_id}
      %p Al nodo: #{edge.to_id}
    .card-footer.justify-content-end.p-10px
      = link_to 'Eliminar', network_edge_path(id: edge.id, network_id: edge.network_id), class: 'button is-danger', method: :delete
      = link_to 'Editar', edit_network_edge_path(id: edge.id, network_id: edge.network_id), class: 'button is-info ml-5px'
