- if !current_user
  = render 'guest'
- else
  .column.is-full
    %h1 Bienvenido a Marketing App
    - if current_user.rrhh?
      = render 'rh'
    - elsif current_user.finance?
      = render 'finance'
    - elsif current_user.community_manager?
      = render 'community_manager'

  = render 'posts/comments'
