= form_for(@post) do |f|
  = f.select_with_label :node_id, @campaign_nodes.map{ |node| [node.label, node.id] }, prompt: true, required: true
  = f.field_with_label :title, placeholder: 'Nuevos tennis Max Air', required: true
  = f.field_with_label :body, placeholder: 'Los nuevos Max Air cuentan con ....'
  = f.field_with_label :content, type: :file_field
  = f.datetime_field_with_label :publish_date, required: true
  = f.submit 'Guardar', class: 'button is-primary'
