= link_to '< Volver a publicaciones de la campaña', campaign_posts_path(@post.node.campaign_id)

%h5 Post (previsualización)
.columns
  .column.is-one-fifth
    %h6.mb-0 Título:
    %p #{@post.title}
  .column.is-one-fifth
    %h6.mb-0 Contenido:
    %p #{@post.body}
  .column.is-two-fifths
    %h6.mb-0 Estatus:
    %p #{I18n.t("post.status.#{@post.status}")}
  .column.is-one-fifth
    - if @post.in_progress?
      = link_to 'Completar post', approve_post_path(@post), method: :put, class: 'button is-primary my-20 w-100'
= link_to 'Agregar tarea', new_post_task_path(@post), class: 'button mb-30px'

%h3 Tareas

.columns
  .column.is-one-third
    %h4 Tareas pendientes
    = render partial: 'tasks/task_card', collection: @not_finished_tasks, as: :task
  .column.is-one-third
    %h4 Tareas terminadas
    = render partial: 'tasks/task_card', collection: @finished_tasks, as: :task
  .column.is-one-third
    %h4 Tareas aprobadas
    = render partial: 'tasks/task_card', collection: @approved_tasks, as: :task
