= link_to '< Volver a publicaciones de la campaña', campaign_posts_path(@post.node.campaign_id)

.columns
  .column.is-one-quarter
    %h5 Post (previsualización)
    %h6.mb-0 Título:
    %p #{@post.title}
    %h6.mb-0 Contenido:
    %p #{@post.body}

    = link_to 'Agregar tarea', new_post_task_path(@post), class: 'button mt-30px'

  .column
    %h4 Tareas
    .columns.is-multiline
      = render partial: 'tasks/task_card', collection: @post.tasks, as: :task
