= link_to '< Volver a publicaciones de la campaña', campaign_posts_path(@post.node.campaign_id)

%h5 Post (previsualización)
.columns
  .column.is-one-fifth
    %h6.mb-0 Título:
    %p #{@post.title}
  .column.is-two-fifths
    %h6.mb-0 Contenido:
    %p #{@post.body}
= link_to 'Agregar tarea', new_post_task_path(@post), class: 'button mb-30px'

-# TODO: fix this style
%h3 Tareas

.columns
  .column.is-one-third
    %h4 Tareas pendientes
    = render partial: 'tasks/task_card', collection: @not_finished_tasks, as: :task
  .column.is-one-third
    %h4 Tareas terminadas
    = render partial: 'tasks/task_card', collection: @finished_tasks, as: :task
  .column.is-one-third
    %h4 Tareas aprobadas
    = render partial: 'tasks/task_card', collection: @approved_tasks, as: :task
