.card.w-300px
  .card-body
    %h5.card-title #{campain.name}
    %h6 Community manager: #{campain.manager.name}
    %p.text-bold Producto: #{campain.product}
    %p.card-text #{campain.objective}
    = link_to 'Ver', campain_path(campain), class: 'btn btn-primary'
