= form_for(@campaign) do |f|
  = f.field_with_label :name, required: true
  = f.field_with_label :product, required: true, minlength: 5, maxlength: 30
  = f.field_with_label :image, type: :file_field, placeholder: 'Tennis Max Ait', value: @campaign.image
  - if current_user.external?
    = f.hidden_field :company_id, value: current_user.company_id, required: true, class: 'select'
  - else
    = f.select_with_label :company_id, Company.all.map{ |c| [c.name, c.id] }, required: true, class: 'select'
  = f.select_with_label :manager_id, User.community_managers(current_user.company_id).map{ |cm| [cm.name, cm.id] }, required: true, class: 'select'
  = f.select_with_label :user_id, User.clients(current_user.company_id).map{ |c| [c.name, c.id] }, required: true
  = f.field_with_label :objective, required: true
  = f.field_with_label :campaign_type, required: true
  = f.field_with_label :token, required: true
  = f.datetime_field_with_label :start_date, required: true
  = f.datetime_field_with_label :end_date, required: true
  = f.submit 'Guardar', class: 'button is-primary mb-30px'
