%h2 Campaña: #{@campaign.name}

.columns
  .column.is-one-third
    = image_tag @campaign.image, class: 'mb-30px'
  .column.is-two-thirds.text-right
    - if @campaign.external?
      = link_to 'Ceder campaña a Agencia', migrate_campaign_to_u_path(@campaign.id), class: 'button', method: :put
    - else
      = link_to 'Ceder campaña a cliente', '', id: 'show-input',class: 'button'
      #company-id.d-none
        = form_for(@campaign, url: migrate_campaign_to_them_path(@campaign.id), method: :put) do |f|
          = f.field_with_label :company_id, required: true
          = f.submit 'Guardar', class: 'button is-primary mb-30px'


.columns
  - if current_user.community_manager?
    .column.is-two-fifths
      = link_to 'Administrar red semántica', network_path(@campaign.network), class: 'button mb-10px w-100'
      = link_to 'Administrar colaboradores de la campaña', campaign_coworkers_path(@campaign), class: 'button mb-10px w-100'
      = link_to 'Administrar publicaciones', campaign_posts_path(campaign_id: @campaign), class: 'button mb-10px w-100'

  .column
    .mb-10px
      %h6.m-0 Objetivo:
      %p=@campaign.objective
    .mb-10px
      %h6.m-0 Fecha de inicio:
      %p=@campaign.start_date
    .mb-10px
      %h6.m-0 Fecha de termino:
      %p=@campaign.end_date
    .mb-10px
      %h6.m-0 Tipo de campaña:
      %p=@campaign.campaign_type
    .mb-10px
      %h6.m-0 Producto:
      %p=@campaign.product
    .mb-10px
      %h6.m-0 Compañía:
      %p=@campaign.company.name


.columns.mt-30px
  = render 'posts_reactions_chart', campaign: @campaign

.columns.mt-30px
  = render 'posts_comments_chart', campaign: @campaign

.columns.mt-30px
  = render 'posts_chart', campaign: @campaign
